*{
    background-color: gray;
}
.parag {
  position: absolute;
  top: 30%;
  left: 35%;
  font-size: 40px;
  color: yellow;
  background-color: black;
  text-align: center;
  width: auto;
}
.AddStylee{
    position: absolute;
    padding: 20px;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    border-radius: 19px;
    top: 42%;
    left: 35%;
}
.RemoveStylee{
    position: absolute;
    padding: 20px;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    border-radius: 19px;
    top: 42%;
    left: 55%;
}

